body {
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
}

html {
  margin: 0 auto;
  padding: 0 auto;
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: white; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

/* 임의의 영역 생성 */
.scrollBar {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}
