.category-set {
  margin: 0 auto;
}

.category-child {
  display: inline-flex;
  padding: 0 10px 0 10px;
  margin: 0 5px 0 5px;
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  line-height: 22px;
  font-family: "PretendardMedium", serif;
  text-align: center;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.category-child1 {
  display: inline-flex;
  /* padding: 10px 20px 10px 20px; */
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  line-height: 22px;
  font-family: "PretendardMedium", serif;
  text-align: center;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.category-child:hover {
  font-weight: bolder;
  border-color: black;
}

.selected {
  background-color: #026bfb;
  color: white;
  padding: 10px 10px 10px 10px;
}

.fqa-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-list {
  width: 80%;
}

.faq-card {
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
}

.faq-card-title {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.faq-card-answer {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  border: 0px solid rgba(225, 228, 230, 0.5);
  border-top-width: 1px;
}

.faq-card-none {
  display: none;
}

.question-mark {
  color: rgb(12, 77, 162);
  font-size: 20px;
  margin-right: 10px;
}
